# File e cartelle di Python
__pycache__/
*.py[cod]
*$py.class

# Cartelle dell'ambiente virtuale (modifica il nome se usi un nome diverso)
venv/
env/
ENV/
.venv/

# File di log
*.log

# File di configurazione di PyCharm
.idea/
*.iml

# File di sistema
.DS_Store
Thumbs.db

# File generati da pip
pip-log.txt
pip-delete-this-directory.txt

# File di test e coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Configurazioni locali
*.env
.env.*

#  database e backups
backups/
*.db

#file di configurazione dell'app
*.json
/build/Main/Analysis-00.toc
/build/MioProgramma/Analysis-00.toc
/build/Main/base_library.zip
/build/MioProgramma/base_library.zip
/build/Main/EXE-00.toc
/build/Main/Main.pkg
/Main.spec
/build/MioProgramma/MioProgramma.pkg
/MioProgramma.spec
/build/Main/PKG-00.toc
/build/MioProgramma/PKG-00.toc
/build/Main/PYZ-00.pyz
/build/MioProgramma/PYZ-00.pyz
/build/Main/PYZ-00.toc
/build/MioProgramma/PYZ-00.toc
/build/Main/warn-Main.txt
/build/MioProgramma/warn-MioProgramma.txt
/dist/WillowGestionale0.0.2.exe
/build/Main/xref-Main.html
/build/MioProgramma/xref-MioProgramma.html
/dist/WillowGestionale0.0.3.exe
/dist/
